{% extends 'LocalsUserBundle::layout.html.twig' %}

{% block title %}{{ 'user_register_page_title'|trans }}{% endblock %}

{% block fos_user_content %}
    <form class="form-vertical" action="{{ path('fos_user_registration_register') }}" method="post" {{ form_enctype(form) }} autocomplete='off'>
        <legend>{{ 'user_register_form'|trans|capitalize }}</legend>

        <fieldset>
            {{ form_errors(form) }}

            <div class="control-group">
                {{ form_label(form.username) }}
                <div class="controls">
                    <div class="input-prepend">
                        {{ form_widget(form.username) }}
                    </div>
                </div>
            </div>

            <div class="control-group">
                {{ form_label(form.email) }}
                <div class="controls">
                    <div class="input-prepend">
                        {{ form_widget(form.email) }}
                    </div>
                </div>
            </div>
            
            <div class="control-group">
                {{ form_label(form.plainPassword.password) }}
                <div class="controls">
                    <div class="input-prepend">
                        {{ form_widget(form.plainPassword.password) }}
                    </div>
                </div>
            </div>
            
            <div class="control-group">
                {{ form_label(form.plainPassword.confirmPassword) }}
                <div class="controls">
                    <div class="input-prepend">
                        {{ form_widget(form.plainPassword.confirmPassword) }}
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <label class="checkbox inline">
                    {{ form_widget(form.license) }}
                    {{ 'user_register_license_label'|trans }}
                    <a target="_blank" href="#">{{ 'user_register_license_link'|trans }}</a>
                </label>
                <div class="controls">
                    <input type="submit" class="btn btn-success" value="{{ 'user_register_submit'|trans }}" />
                </div>
            </div>

            <div style="display: none;">
                {{ form_rest(form) }}
            </div>

        </fieldset>
    </form>
{% endblock fos_user_content %}